@model IEnumerable<VideoRentalApp.Models.Customer>
@*Model uses IEnumerable rather than List since we only need to iterate over the list and don't need the other functionality in List.
    If the List is replaced with a different data structure (provided it is enumerable) then it will still work.*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (!Model.Any())
{
    <p>There are no Customers registered yet..!</p>
}
else
{
    <table class="table table-bordered table-hover table-auto">
        <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td class="pad-right">@Html.ActionLink(customer.Name, "Details", "Customer", new { customer.Id }, null)</td>
                <td class="pad-right">@customer.MembershipType.Name</td>
            </tr>
        }
        </tbody>
    </table>
}
